<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>News Site</title>
    <!--Inline css-->
    <style>  
      
      .bgc {
        background-color: #e6f3ff;
      }
     

      @media only screen and (max-width: 600px) {
        .hide {
          display: none;
        }

        .m96 {
          margin: auto;
        }
      }

      
    </style>



</head>

<body>
  
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-light sticky-top navbar-inverse">
      <div class="container-fluid ">
        <a class="navbar-brand mx-5 text-primary" aria-current="page" href="{% url 'base' %}?category=general">World News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if active == 'general' %}text-primary{% endif %}" aria-current="page" href="{% url 'base' %}?category=general">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'business' %}text-primary{% endif %}" href="{% url 'base' %}?category=business">Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'entertainment' %}text-primary{% endif %}" href="{% url 'base' %}?category=entertainment">Entertainment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'health' %}text-primary{% endif %}" href="{% url 'base' %}?category=health">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'science' %}text-primary{% endif %}" href="{% url 'base' %}?category=science">Science</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'sports' %}text-primary{% endif %}" href="{% url 'base' %}?category=sports">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'technology' %}text-primary{% endif %}" href="{% url 'base' %}?category=technology">Tech</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    
    {% comment %} <div class="row bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/75.jpg'); height: 100vh; background-attachment: fixed;"> {% endcomment %}
    <div class="row bgc m96">   
      <!--List group-->
        <div class="col-xl-3 col-lg-4 col-sm-6 mt-2 hide">
        <div class="position-fixed mx-3">
                {% if articles %}
                <h4 class="text-center">Quick Look</h4>
                <div class="overflow-auto mh-100" style="height: 540px; width: 300px;">

                    {% for i in articles %}
                        <div class="list-group mb-1">
                        <a href="{{ i.url }}" class="list-group-item list-group-item-action overflow-hidden" aria-current="true">
                            <div class="d-flex justify-content-betweenn text-wrap" style=" height: 70px; width: 250px;">
                            <p class="mb-1">{{ i.title }}</p>
                            </div>
                        </a>
                        </div>
                    {% endfor %}
                </div>
                {% else %} <h4 class="">No results found for "{{ search }}" .</h4>
                {% endif %}
            </div>          
        </div>
        
        
        <!--content-->
        <div class="col-xl-9 col-lg-8 col-sm-6 mt-5">
        <!--content-->
            <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-sm-1 g-4">
                {% if articles %}
                {% for i in articles %} 
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.urlToImage}}" class="card-img-top" alt="{{ i.title }} image" width="300" height="200">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.title }}</h5>
                            <p class="card-text">{{ i.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Author: {{ i.author }}</li>
                            <li class="list-group-item">Published At: {{ i.publishedAt }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{{ i.url }}" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>                 
            
        </div>
    </div>
    
      
      
    
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>